@import 'src/default-style/style.module.scss';

.sign-up-form {
  &__container {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

    width: 385px;
    min-height: 647px;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 48px 36px;

    color: rgb(38, 38, 38);
    background-color: white;
    border-radius: 6px;
    box-shadow: $shadow-color;

    form {
      margin: 0 auto;
    }
    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
      margin-bottom: 21px;
    }
    label {
      font-weight: 400;
      margin-bottom: 2px;
    }
    input {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      margin-bottom: 2px;
    }
    span {
      display: block;
      color: red;
      margin-bottom: 12px;
    }

    input[type='email'],
    input[type='password'],
    input[type='text'],
    input[type='password'] {
      display: block;
      width: 320px;
      height: 40px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-sizing: border-box;

      margin-bottom: 12px;
    }

    input[type='checkbox'] {
      width: 20px;
      height: 20px;
    }

    button {
      display: block;
      margin-top: 21px;
      width: 320px;
      height: 40px;
      margin-bottom: 8px;
      border-radius: 4px;
      color: white;
      background: $blue-color;
      cursor: pointer;
    }

    a {
      color: $blue-color;
    }

    &__error {
      color: red;
    }
  }
  &__already {
    color: $gray-text-color;
    text-align: center;
  }

  &__check {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    margin-top: 15px;
  }

  &__check input[type='checkbox'] {
    color: $blue-color;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
